[package]
name = "vm-core"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
kvm-bindings.workspace = true
kvm-ioctls.workspace = true
nix.workspace = true
tracing.workspace = true
